.benefits {
  padding: 110px 40px 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 500;
  color: $header-cr;

  @media (max-width: $media-dt) {
    padding: 71px 24px 76px;
  }

  @media (max-width: $media-tb) {
    padding: 102px 14px 73px;
    font-size: 18px;
    line-height: 27px;
  }
}

.benefits h2 {
  width: calc(800 * 100% / 1365);
  padding-left: calc(159 * 100% / 1365);
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;

  @media (max-width: $media-dt) {
    width: calc(589 * 100% / 720);
    padding-bottom: 34px;
    padding-left: 0;
  }

  @media (max-width: $media-tb) {
    width: 100%;
    padding-bottom: 42px;
    font-size: 24px;
    line-height: 25px;
  }
}

.benefits__list,
.benefits__rating-list {
  @include reset-list;
}

.benefits__list {
  width: calc(1200 * 100% / 1365);
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $media-dt) {
    width: 100%;
  }
}

.benefits__item {
  display: flex;
  align-items: center;

  @media (max-width: $media-tb) {
    flex-direction: column-reverse;
  }

  &--first {
    margin-top: -58px;
    margin-bottom: 130px;

    @media (max-width: $media-dt) {
      margin-top: 0;
      margin-bottom: 91px;
    }

    @media (max-width: $media-tb) {
      margin-bottom: 87px;
    }
  }

  &--second {
    margin-bottom: 174px;

    @media (max-width: $media-dt) {
      margin-bottom: 166px;
    }

    @media (max-width: $media-tb) {
      margin-bottom: 77px;
    }
  }

  &--third {
    margin-bottom: 68px;

    @media (max-width: $media-dt) {
      margin-bottom: 117px;
    }

    @media (max-width: $media-tb) {
      margin-bottom: 79px;
    }
  }

  &:nth-child(odd) {
    padding-left: 77px;

    @media (max-width: $media-dt) {
      padding-left: 0;
    }
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
    padding-right: 75px;

    @media (max-width: $media-dt) {
      padding-right: 0;
    }

    @media (max-width: $media-tb) {
      flex-direction: column-reverse;
    }
  }
}

.benefits__wrapper {
  min-width: calc(621 * 100% / 1200);
  width: calc(637 * 100% / 1200);

  @media (max-width: $media-dt) {
    min-width: calc(410 * 100% / 720);
    width: calc(410 * 100% / 720);
  }

  @media (max-width: $media-tb) {
    min-width: 100%;
    width: 100%;
  }
}

.benefits__wrapper h3 {
  width: 90%;
  padding-bottom: 5px;
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
  color: $benefits-title-cr;

  @media (max-width: $media-dt) {
    width: 100%;
  }

  @media (max-width: $media-tb) {
    padding-bottom: 12px;
    font-size: 20px;
    line-height: 27px;
  }
}

.benefits__wrapper p {
  padding-bottom: 28px;

  @media (max-width: $media-tb) {
    padding-bottom: 18px;
  }

  &:last-child {
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;

    @media (max-width: $media-tb) {
      font-size: 14px;
      line-height: 19px;
    }
  }
}

.benefits__wrapper p:last-child span {
  font-weight: 500;
  padding-left: 6px;
}

.benefits__rating-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;

  @media (max-width: $media-tb) {
    margin-bottom: 5px;
  }
}

.benefits__rating-item {
  width: 25px;
  height: 25px;
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $media-tb) {
    margin-right: 5px;
  }
}

.benefits__rating-item span {
  @include visually-hidden;
}

.benefits__rating-item svg {
  @media (max-width: $media-tb) {
    transform: scale(0.8);
  }
}

.benefits__item .benefits__image {
  position: relative;
  z-index: -1;
}

.benefits__item--first .benefits__image {
  top: -35px;
  left: -20px;

  @media (max-width: $media-dt) {
    top: -10px;
    left: -1px;
    width: 309px;
    height: 453px;
  }

  @media (max-width: $media-tb) {
    top: 0;
    left: 0;
    min-width: 289px;
    min-height: 425px;
    width: 289px;
    height: 425px;
    margin-bottom: 20px;
  }
}

.benefits__item--second .benefits__image {
  top: -10px;
  left: -51px;

  @media (max-width: $media-dt) {
    top: -11px;
    left: -44px;
    width: 440px;
    height: 309px;
  }

  @media (max-width: $media-tb) {
    top: 0;
    left: -18px;
    min-width: 363px;
    min-height: 255px;
    width: 363px;
    height: 255px;
    margin-bottom: 24px;
  }
}

.benefits__item--third .benefits__image {
  top: 2px;
  left: -158px;

  @media (max-width: $media-dt) {
    top: 7px;
    left: -142px;
    width: 628px;
    height: 417px;
  }

  @media (max-width: $media-tb) {
    top: 0;
    left: 19px;
    min-width: 428px;
    min-height: 284px;
    width: 428px;
    height: 284px;
    margin-bottom: 10px;
  }
}

.benefits__item--forth .benefits__image {
  top: -52px;
  left: -78px;

  @media (max-width: $media-dt) {
    top: -32px;
    left: -23px;
    width: 278px;
    height: 476px;
  }

  @media (max-width: $media-tb) {
    top: 0;
    left: 0;
    min-width: 224px;
    min-height: 384px;
    width: 224px;
    height: 384px;
    margin-bottom: 13px;
  }
}
