.benefits {
  padding: 110px 40px 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 500;
  color: $header-cr;
}

.benefits h2 {
  width: 800px;
  padding-left: 159px;
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
}

.benefits__list,
.benefits__rating-list {
  @include reset-list;
}

.benefits__list {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.benefits__item {
  display: flex;
  align-items: center;

  &:first-child {
    margin-top: -58px;
    margin-bottom: 130px;
  }

  &:nth-child(2) {
    margin-bottom: 174px;
  }

  &:nth-child(3) {
    margin-bottom: 68px;
  }

  &:nth-child(odd) {
    padding-left: 77px;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
    padding-right: 75px;
  }
}

.benefits__wrapper {
  min-width: 581px;
  width: 594px;
}

.benefits__wrapper h3 {
  width: 90%;
  padding-bottom: 5px;
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
  color: $benefits-title-cr;
}

.benefits__wrapper p {
  padding-bottom: 28px;
  font-size: 20px;
  line-height: 36px;

  &:last-child {
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
  }
}

.benefits__wrapper p:last-child span {
  font-weight: 500;
  padding-left: 6px;
}

.benefits__rating-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.benefits__rating-item {
  width: 25px;
  height: 25px;
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.benefits__rating-item span {
  @include visually-hidden;
}

.benefits__item .benefits__image {
  position: relative;
  z-index: -1;
}

.benefits__item:first-child .benefits__image {
  top: -35px;
  left: -20px;
}

.benefits__item:nth-child(2) .benefits__image {
  top: -10px;
  left: -51px;
}

.benefits__item:nth-child(3) .benefits__image {
  top: 2px;
  left: -158px;
}

.benefits__item:nth-child(4) .benefits__image {
  top: -52px;
  left: -78px;
}
