.features {
  position: relative;
  z-index: -1;
  min-height: 1245px;
  padding: 130px 0 80px;
  font-size: 16px;
  line-height: 26px;
  color: $w;
  background-image: url("../img/features-bg.jpg");
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: $b;
}

.features h2 {
  @include visually-hidden;
}

.features__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1445px;
  width: 640px;
  margin: 0 auto;
  margin-bottom: -16px;

  &::before {
    content: "";
    position: absolute;
    top: 174px;
    right: 46%;
    width: 48px;
    height: 48px;
    background-image: url("../img/svg/plus.icon.svg");
  }
}

.features__wrapper span {
  position: relative;
  width: 323px;
  padding-top: 157px;
  padding-left: 30px;
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
  text-align: center;
  text-transform: lowercase;

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 53%;
    transform: translateX(-50%);
  }
}

.features__wrapper span:nth-child(1) {
  &::before {
    width: 129px;
    height: 126px;
    background-image: url("../img/svg/features1-icon.svg");
  }
}

.features__wrapper span:nth-child(2) {
  &::before {
    top: 11px;
    left: 47%;
    width: 156px;
    height: 129px;
    background-image: url("../img/features2-icon.png");
  }
}

.features__decorate-wrapper {
  width: 100%;
  height: 488px;
  margin-bottom: 138px;
  background-image: url("../img/features-image-bg.png"),
                    url("../img/table-bg.png"),
                    url("../../img/feature-cloud-icon.png");
  background-position: center 0, center 132%, 72.5% 35%;
  background-repeat: no-repeat, repeat-x, no-repeat;
}

.features__list {
  @include reset-list;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  max-width: 1445px;
  width: 1118px;
  margin: 0 auto;
  padding-left: 10px;
}

.features__item {
  position: relative;
  width: 514px;
  margin-right: 28px;
  margin-bottom: 80px;
  padding-left: 27px;

  &:nth-child(even) {
    margin-right: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -72px;
    left: 25px;
    width: 64px;
    height: 64px;
  }

  &--first::before {
    background-image: url("../img/svg/features3-icon.svg");
  }

  &--second::before {
    background-image: url("../img/svg/features4-icon.svg");
  }
}

.features__item h3 {
  padding-bottom: 10px;
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
}
