.footer {
  min-height: 424px;
  padding: 34px 40px 14px;
  font-size: 13px;
  line-height: 19px;
  color: $header-cr;
  background-color: $w;

  @media (max-width: $media-dt) {
    padding: 34px 24px 23px;
  }

  @media (max-width: $media-tb) {
    padding: 24px 14px 23px;
  }
}

.footer__logo-list,
.footer__link-list,
.footer__link-sublist,
.footer__social-list {
  @include reset-list;
}

.footer__logo-list,
.footer__link-list {
  max-width: 1045px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: $media-dt) {
    width: 100%;
  }
}

.footer__logo-list {
  display: flex;
  align-items: baseline;
  margin-bottom: 42px;

  @media (max-width: $media-dt) {
    margin-bottom: 0;
  }

  @media (max-width: $media-tb) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
}

.footer__logo-item {
  margin-right: 43px;
  transition: opacity 0.3s;

  @media (max-width: $media-tb) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  &:last-child {
    margin-right: 0;

    @media (max-width: $media-tb) {
      margin-bottom: 0;
    }
  }

  // hover
  &:hover {
    opacity: 0.7;
  }

  // active
  &:active {
    opacity: 0.5;
  }
}

.footer__logo-item--first img {
  @media (max-width: $media-tb) {
    width: 137px;
    height: 61px;
  }
}

.footer__logo-item--second img {
  @media (max-width: $media-tb) {
    width: 164px;
    height: 35px;
  }
}

.footer__link-list {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $media-dt) {
    padding-left: 2px;
  }

  @media (max-width: $media-tb) {
    flex-direction: column;
    align-items: center;
  }
}

.footer__link-sublist {
  @media (max-width: $media-tb) {
    width: 100%;
    max-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: max-height 0.5s;
    overflow: hidden;
  }
}

.footer__link-item {
  &--products,
  &--movement,
  &--projects,
  &--about,
  &--touch {
    flex-direction: column;
    width: 150px;
    margin: 0;

    @media (max-width: $media-dt) {
      width: auto;
      margin-top: 39px;
    }

    @media (max-width: $media-tb) {
      width: 100%;
      margin-top: 20px;
    }
  }
}

.footer__link-item--products {
  width: 100px;
  margin-right: 66px;

  @media (max-width: $media-dt) {
    width: calc(100 * 100% / 720);
    margin-right: calc(94 * 100% / 720);
  }

  @media (max-width: $media-tb) {
    width: 100%;
    margin-right: 0;
  }
}

.footer__link-item--movement,
.footer__link-item--projects,
.footer__link-item--about {
  width: 199px;

  @media (max-width: $media-dt) {
    width: auto;
  }
}

.footer__link-item--movement {
  margin-right: 36px;

  @media (max-width: $media-dt) {
    width: calc(160 * 100% / 720);
    margin-right: calc(117 * 100% / 720);
  }

  @media (max-width: $media-tb) {
    width: 100%;
    margin-right: 0;
  }
}

.footer__link-item--projects {
  margin-right: 65px;

  @media (max-width: $media-dt) {
    width: calc(249 * 100% / 720);
    margin-right: calc(94 * 100% / 720);
  }

  @media (max-width: $media-tb) {
    width: 100%;
    margin-right: 0;
  }
}

.footer__link-item--about {
  margin-right: 21px;

  @media (max-width: $media-dt) {
    width: calc(390 * 100% / 720);
    margin-right: calc(79 * 100% / 720);
  }

  @media (max-width: $media-tb) {
    width: 100%;
    margin-right: 0;
  }
}

.footer__link-item--about .footer__link-sublist {
  @media (max-width: $media-dt) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $media-tb) {
    display: flex;
    flex-direction: column;
  }
}

.footer__link-item--touch {
  width: 160px;

  @media (max-width: $media-dt) {
    width: calc(251 * 100% / 720);
  }

  @media (max-width: $media-tb) {
    width: 100%;
  }
}

.footer__link-item--touch .footer__link-sublist {
  @media (max-width: $media-tb) {
    max-height: 49px;
  }
}

.footer__link-list li:last-child {
  margin-right: 0;
}

.footer__link-list li:nth-child(3) {
  @media (max-width: $media-dt) {
    margin-right: 0;
  }
}

.footer__wrapper-title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 16px;

  @media (max-width: $media-tb) {
    justify-content: center;
    border-bottom: 1px solid rgba(#3d3d3d, 0.05);
    cursor: pointer;
  }
}

.footer__link-item:last-child .footer__wrapper-title {
  @media (max-width: $media-tb) {
    border-bottom: none;
  }
}

.footer__link-item h3 {
  position: relative;
  display: inline-block;
  width: auto;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: $footer-title-cr;

  @media (max-width: $media-tb) {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
  }

  &::before {
    display: none;

    @media (max-width: $media-tb) {
      display: block;
      content: "";
      position: absolute;
      top: 7px;
      right: -32px;
      width: 14px;
      height: 9px;
      background-image: url("../img/svg/arrow-footer-icon.svg");
      transition: top 0.3s, transform 0.3s;
    }
  }
}

.footer__link-subitem {
  margin-bottom: 17px;

  &--social {
    @media (max-width: $media-tb) {
      order: -1;
    }
  }
}

.footer__link-sublist .footer__link-subitem {
  &:first-child {
    @media (max-width: $media-tb) {
      padding-top: 10px;
    }
  }
}

.footer__link-item--about .footer__link-subitem {
  @media (max-width: $media-dt) {
    &:nth-child(1) {
      grid-area: 1;
    }

    &:nth-child(2) {
      grid-area: 2;
    }

    &:nth-child(3) {
      grid-area: 3;
    }

    &:nth-child(4) {
      grid-area: 4;
    }
  }
}

.footer__link-subitem a {
  transition: color 0.3s;
}

// :hover
.footer__link-subitem:hover a {
  color: orange;
}

// :active
.footer__link-subitem:active a {
  color: rgba(orange, 0.7);
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 23px;
  margin-bottom: 21px;

  @media (max-width: $media-tb) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.footer___social-item {
  margin-right: 13px;
  transition: opacity 0.3s;

  &:last-child {
    margin-right: 0;
  }

  // :hover
  &:hover {
    opacity: 0.7;
  }

  // :active
  &:active {
    opacity: 0.5;
  }
}

.footer___social-item span {
  @include visually-hidden;
}

// for accordion
// no-js
.footer .no-js {
  @media (max-width: $media-tb) {
    max-height: unset;
  }
}

.accordion-open h3 {
  @media (max-width: $media-tb) {
    &::before {
      top: 5px;
      transform: rotate(-90deg);
    }
  }
}
