.header {
  padding: 0 40px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: $header-cr;

  @media (max-width: $media-dt) {
    min-height: 64px;
    padding: 0 24px;
  }

  @media (max-width: $media-tb) {
    min-height: 52px;
    padding: 0 17px;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  background-color: $w;

  &--first {
    justify-content: space-between;
    min-height: 34px;
    background-color: #f7f7f7;

    @media (max-width: $media-dt) {
      display: none;
    }
  }

  &--second {
    min-height: 76px;

    @media (max-width: $media-tb) {
      min-height: 52px;
    }
  }
}

.header__social-list,
.header__settings,
.header__main-navigation,
.header__category-list {
  display: flex;
  align-items: center;
}

.header__social-list,
.header__category-list {
  @include reset-list;
}

.header__social-list {
  margin-top: 7px;
}

.header__social-item span {
  @include visually-hidden;
}

.header__social-item {
  margin-right: 4px;
  transition: opacity 0.3s;

  &:last-child {
    margin-right: 0;
  }

  // hover
  &:hover {
    opacity: 0.7;
  }

  // active
  &:active {
    opacity: 0.5;
  }
}

.header__settings > a {
  margin-right: 41px;

  &:last-child {
    margin-right: 0;
  }

  // hover
  &:hover {
    color: orange;
  }

  // active
  &:active {
    color: rgba(orange, 0.7);
  }
}

.header__settings-link {
  &--store {
    position: relative;
    padding-left: 16px;
  }

  &--lang {
    position: relative;
    padding-right: 16px;
  }
}

.header__settings-link--store::before,
.header__settings-link--lang::before {
  content: "";
  position: absolute;
}

.header__settings-link--store::before {
  top: 3px;
  left: -1px;
  width: 13px;
  height: 14px;
  background-image: url("../img/svg/store-icon.svg");
}

.header__settings-link--lang::before {
  top: 9px;
  right: 0;
  width: 10px;
  height: 5px;
  background-image: url("../img/svg/arrow-icon.svg");
}

.header__main-navigation {
  @media (max-width: $media-dt) {
    width: 100%;
  }
}

.header__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $media-dt) {
    width: inherit;
  }
}

.header__logo-wrapper a {
  @media (max-width: $media-dt) {
    margin-left: auto;
  }
}

.header__logo {
  margin-right: 37px;
  transition: opacity 0.3s;

  @media (max-width: $media-dt) {
    width: 101px;
    height: 44px;
    margin-right: 0;
    margin-left: 18px;
  }

  @media (max-width: $media-tb) {
    width: 85px;
    height: 37px;
  }

  // hover
  &:hover {
    opacity: 0.7;
  }

  // active
  &:active {
    opacity: 0.5;
  }
}

.header__menu-button {
  display: none;
  width: 20px;
  height: 14px;
  padding: 0;
  cursor: pointer;

  @media (max-width: $media-dt) {
    display: block;
    margin-left: auto;
  }

  @media (max-width: $media-tb) {
    margin-bottom: 4px;
  }

  // hover
  &:hover {
    opacity: 0.7;
  }

  // active
  &:active {
    opacity: 0.5;
  }
}

.header__category-list {
  @media (max-width: $media-dt) {
    display: none;
  }
}

.header__category-item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.header__category-item a {
  font-size: 16px;
  line-height: 26px;

  // hover
  &:hover {
    color: orange;
  }

  // active
  &:active {
    color: rgba(orange, 0.7);
  }
}

