.introduction {
  position: relative;
  min-height: 640px;
  padding: 94px 40px 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 500;
  color: $w;
  background-image: url("../img/intro-edge.png"), 
                    url("../img/intro-bg.jpg");
  background-size: 100% 98px, 
                   100% 100%;
  background-position: bottom, 
                       0 0;
  background-repeat: no-repeat;
  background-color: $b;

  @media (max-width: $media-dt) {
    padding: 43px 22px 50px;
    background-size: 100% 70px, 
                     100% 100%;
  }

  @media (max-width: $media-tb) {
    padding: 41px 14px 16px;
    font-size: 18px;
    line-height: 27px;
    background-size: 100% 19px, 
                     100% 100%;
  }
}

.introduction .site-wrapper {
  display: grid;
  grid-template-columns: 1fr 480px;
  grid-template-areas:
    "title img"
    "desc img";

  @media (max-width: $media-dt) {
    grid-template-rows: none;
    grid-template-columns: 1.3fr 330px;
    grid-row-gap: 62px;
    grid-template-areas:
      "title title"
      "desc img";
  }

  @media (max-width: $media-tb) {
    grid-template-columns: 1fr;
    grid-row-gap: 0;
    grid-template-areas:
      "title title"
      "desc desc"
      "img img";
  }
}

.introduction h1 {
  @include visually-hidden;
}

.introduction__image-wrapper {
  grid-area: title;
  margin-bottom: 54px;
  padding-left: 160px;

  @media (max-width: $media-dt) {
    margin-bottom: 0;
    padding-left: 0;
  }

  @media (max-width: $media-tb) {
    width: 80%;
    min-height: 143px;
    margin-bottom: 16px;
  }
}

.introduction__image-wrapper span {
  font-size: 80px;
  line-height: 84px;
  font-weight: 700;

  @media (max-width: $media-tb) {
    font-size: 40px;
    line-height: 42px;
  }
}

.introduction__logo {
  margin-bottom: 36px;

  @media (max-width: $media-tb) {
    width: 131px;
    height: 35px;
  }

  @media (max-width: $media-tb) {
    margin-bottom: 24px;
  }
}

.introduction__image {
  position: relative;
  top: -13px;
  left: -42px;
  grid-area: img;

  @media (max-width: $media-dt) {
    left: -52px;
    width: 335px;
    height: 376px;
  }

  @media (max-width: $media-tb) {
    left: 43%;
    width: 243px;
    height: 272px;
    transform: translate(-50%);
  }
}

.introduction__content-wrapper {
  grid-area: desc;
  display: flex;
  flex-direction: column;
  padding-bottom: 82px;
  padding-left: 160px;

  @media (max-width: $media-dt) {
    padding-bottom: 0;
    padding-left: 4px;
  }

  @media (max-width: $media-tb) {
    min-height: 203px;
    margin-bottom: 15px;
    padding-left: 0;
  }
}

.introduction__content-wrapper p {
  width: 83%;
  padding-bottom: 14px;

  &:last-child {
    padding-bottom: 0;
  }

  @media (max-width: $media-dt) {
    width: 89%;
  }

  @media (max-width: $media-tb) {
    width: 100%;
  }
}

.introduction__content-wrapper p span {
  position: relative;
  z-index: 1;
  padding: 0;
  padding-right: 12px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 500;

  @media (max-width: $media-tb) {
    font-size: 18px;
    line-height: 27px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 17px;
    background-image: url("../img/svg/line.svg");
    background-repeat: round;
    transform: rotate(-0.1deg);

    @media (max-width: $media-tb) {
      width: 97%;
    }
  }
}
