.introduction {
  position: relative;
  min-height: 640px;
  padding: 94px 40px 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 500;
  color: $w;
  background-image: url("../img/intro-edge.png"), 
                    url("../img/intro-bg.jpg");
  background-size: 100% 98px, 
                   100% 100%;
  background-position: bottom, 
                       0 0;
  background-repeat: no-repeat;
  background-color: $b;

  @media (max-width: $media-dt) {
    padding: 43px 22px 50px;
    background-size: 100% 70px, 
                     100% 100%;
  }
}

.introduction .site-wrapper {
  display: grid;
  // grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 480px;
  grid-template-areas:
    "title img"
    "desc img";

  @media (max-width: $media-dt) {
    grid-template-rows: none;
    grid-template-columns: 1.3fr 330px;
    grid-row-gap: 62px;
    grid-template-areas:
      "title title"
      "desc img";
  }
}

.introduction h1 {
  @include visually-hidden;
}

.introduction__image-wrapper {
  grid-area: title;
  margin-bottom: 54px;
  padding-left: 160px;

  @media (max-width: $media-dt) {
    margin-bottom: 0;
    padding-left: 0;
  }
}

.introduction__image-wrapper span {
  font-size: 80px;
  line-height: 84px;
  font-weight: 700;
}

.introduction__logo {
  margin-bottom: 36px;
}

.introduction__image {
  position: relative;
  top: -13px;
  left: -42px;
  grid-area: img;

  @media (max-width: $media-dt) {
    left: -52px;
    width: 335px;
    height: 376px;
  }
}

.introduction__content-wrapper {
  grid-area: desc;
  display: flex;
  flex-direction: column;
  padding-bottom: 82px;
  padding-left: 160px;

  @media (max-width: $media-dt) {
    padding-bottom: 0;
    padding-left: 4px;
  }
}

.introduction__content-wrapper p {
  width: 83%;
  padding-bottom: 14px;

  &:last-child {
    padding-bottom: 0;
  }

  @media (max-width: $media-dt) {
    width: 89%;
  }
}

.introduction__content-wrapper p span {
  position: relative;
  z-index: 1;
  padding: 0;
  padding-right: 12px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 500;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 17px;
    background-image: url("../img/svg/line.svg");
    transform: rotate(-0.1deg);
  }
}
