.products {
  margin-top: -77px;
  padding: 125px 40px 14px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 500;
  color: $w;
  background-image: url("../img/products-bg.png"),
                    radial-gradient(118px at 50% 20.4%, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0) 100%),
                    linear-gradient(180deg, #4B4B4B 0%, #434141 32.47%, #2D2B2B 72.03%);
  background-size: 100% 668px, 100% 100%, 100% 100%;
  background-position: 0 0, 0 668px, 0 668px;
  background-repeat: no-repeat;

  @media (max-width: $media-dt) {
    margin-top: -56px;
    padding: 114px 0 14px;
    background-image: url("../img/products-bg-tb.png"),
                      radial-gradient(118px at 50% 20.4%, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0) 100%),
                      linear-gradient(180deg, #4B4B4B 0%, #434141 32.47%, #2D2B2B 72.03%);
    background-size: 100% 621px, 100% 100%, 100% 100%;
    background-position: 0 0, 0 620px, 0 620px;
  }
}

.products h2,
.products p {
  width: 792px;
  text-align: center;
  margin: 0 auto;

  @media (max-width: $media-dt) {
    width: 100%;
  }
}

.products h2 {
  padding-bottom: 31px;
  padding-left: 31px;
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;

  @media (max-width: $media-dt) {
    min-height: 195px;
    padding: 0 24px 21px;
  }
}

.products p {
  padding-bottom: 58px;

  @media (max-width: $media-dt) {
    min-height: 156px;
    padding: 0 24px 48px;
  }
}

.products__list {
  @include reset-list;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  max-width: 1107px;
  width: 100%;
  margin: 0 auto 8px;
  padding-left: 47px;

  @media (max-width: $media-dt) {
    width: 768px;
    margin-bottom: 24px;
    padding-left: 0;
  }
}

.products__item {
  width: 231px;
  margin-right: 35px;
  margin-bottom: 40px;
  transition: box-shadow 0.3s;

  @media (max-width: $media-dt) {
    width: 189px;
    margin-right: 0;
  }

  &:last-child,
  &:nth-child(4n) {
    margin-right: 0;
  }
}

// hover
.products__item:hover {
  box-shadow: 0 0 7px 0 orange;
}

// active
.products__item:active {
  box-shadow: 0 0 7px 0 rgba(orange, 0.7);
}

.products__item a {
  display: flex;
  flex-direction: column-reverse;
}

.products__item h3 {
  width: 134px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  transition: color 0.3s;

  @media (max-width: $media-dt) {
    width: 86%;
  }
}

// hover
.products__item:hover h3 {
  color: orange;
}

// active
.products__item:active h3 {
  color: rgba(orange, 0.7);
}

.products__item img {
  width: 289px;
  height: 364px;
  margin-bottom: 15px;
  object-fit: cover;

  @media (max-width: $media-dt) {
    width: 202px;
    height: 255px;
    margin-bottom: 18px;
  }
}

.products p:last-child {
  width: 494px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;

  @media (max-width: $media-dt) {
    width: 596px;
    min-height: auto;
  }
}

.products p:last-child span {
  color: $benefits-title-cr;
}
