.products {
  margin-top: -77px;
  padding: 125px 40px 14px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 500;
  color: $w;
  background-image: url("../img/products-bg.png"), url("../img/products-bg2.jpg");
  background-size: 100% 668px, 100% 100%, 100% 100%;
  background-position: 0 0, 0 668px, 0 668px;
  background-repeat: no-repeat;
  // background-color: grey;
}

.products h2,
.products p {
  width: 792px;
  text-align: center;
  margin: 0 auto;
}

.products h2 {
  padding-bottom: 31px;
  padding-left: 31px;
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}

.products p {
  padding-bottom: 58px;
}

.products__list {
  @include reset-list;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  width: 1107px;
  margin: 0 auto 48px;
  padding-left: 47px;
}

.products__item {
  // display: flex;
  // flex-direction: column-reverse;
  width: 231px;
  margin-right: 35px;

  &:last-child,
  &:nth-child(4n) {
    margin-right: 0;
  }
}

.products__item a {
  display: flex;
  flex-direction: column-reverse;
}

.products__item h3 {
  width: 134px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.products__item img {
  width: 289px;
  height: 364px;
  margin-bottom: 15px;
  object-fit: cover;
}

.products p:last-child {
  width: 494px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
}

.products p:last-child span {
  color: $benefits-title-cr;
}
