.review {
  position: relative;
  min-height: 554px;
  margin-top: -13px;
  padding: 94px 40px 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 500;
  color: $header-cr;
  background-image: url("../img/review-bg.png");
  background-size: 100% 100%;
  background-repeat: repeat;

  &::before {
    content: "";
    position: absolute;
    bottom: -246px;
    left: 0;
    width: 100%;
    height: 249px;
    background-image: url("../img/review-bg-triangle.png");
    background-size: 100% 249px;
    background-repeat: no-repeat;
  }

  @media (max-width: $media-dt) {
    padding: 70px 24px 0;

    &::before {
      bottom: -196px;
      left: 0;
      width: 101%;
      height: 204px;
      background-image: url("../img/review-bg-triangletb.png");
      background-size: 100% 204px;
    }
  }
}

.review h2 {
  padding-bottom: 64px;
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
  text-align: center;

  @media (max-width: $media-dt) {
    padding-bottom: 48px;
  }
}

.review .site-wrapper {
  max-width: 1046px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;

  @media (max-width: $media-dt) {
    width: 100%;
    padding-bottom: 40px;
  }
}

.review__wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $media-dt) {
    align-items: flex-start;
  }
}

.review__content-wrapper {
  width: calc(774 * 100% / 1046);

  @media (max-width: $media-dt) {
    width: calc(472 * 100% / 720);
  }
}

.review__content-wrapper h3 {
  position: relative;
  padding-bottom: 12px;
  padding-left: 58px;
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
  color: $benefits-title-cr;

  &::before {
    content: "";
    position: absolute;
    left: -2px;
    width: 38px;
    height: 32px;
    background-image: url("../img/svg/quotes-icon.svg");
  }

  @media (max-width: $media-dt) {
    padding-bottom: 16px;
    padding-left: 60px;
  }
}

.review__content-wrapper p {
  padding-bottom: 25px;
}

.review__content-wrapper p:last-child {
  padding-bottom: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

.review__content-wrapper p:last-child span {
  font-weight: 500;
}

.review__image-wrapper {
  width: 235px;
  height: 206px;
  margin-bottom: 20px;
  mask-image: url("../img/svg/mask-image.svg");
  mask-size: cover;

  @media (max-width: $media-dt) {
    width: calc(222 * 100% / 720);
    height: calc(194 * 100% / 720);
    margin-top: 31px;
    margin-bottom: 0;
  }
}

.review__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
