.virtues {
  min-height: 440px;
  padding: 133px 40px 14px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 500;
  background-image: url("../img/virtues-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $b;
  color: $w;

  @media (max-width: $media-dt) {
    padding: 42px 24px 73px;
    background-image: url("../img/virtues-tb-bg.jpg");
  }

  @media (max-width: $media-tb) {
    padding: 18px 14px 33px;
    font-size: 18px;
    line-height: 27px;
    background-position: center;
  }
}

.virtues .site-wrapper {
  position: relative;
  max-width: 1054px;
  padding-top: 0;

  @media (max-width: $media-dt) {
    padding-top: 121px;
  }

  @media (max-width: $media-tb) {
    padding-top: 108px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 96px;
    height: 93px;
    background-image: url("../img/svg/sign-icon.svg");

    @media (max-width: $media-dt) {
      top: 9px;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (max-width: $media-tb) {
      width: 84px;
      height: 82px;
      background-size: 84px 82px;
    }
  }
}

.virtues h2,
.virtues p {
  width: 920px;
  margin: 0 auto;
  padding-left: 80px;

  @media (max-width: $media-dt) {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
}

.virtues h2 {
  padding-bottom: 22px;
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;

  @media (max-width: $media-dt) {
    padding-bottom: 15px;
  }

  @media (max-width: $media-tb) {
    padding-bottom: 8px;
    font-size: 24px;
    line-height: 25px;
  }
}

.virtues p {
  padding-bottom: 15px;

  &:last-child {
    padding-bottom: 0;
  }
}
