// color
$w: white;
$b: black;
$header-cr: #303030;
$benefits-title-cr: #6dad45;
$footer-title-cr: #235863;

// bg
$review-bg: #f3e0bc;

// fonts
$Poppins: "Poppins", "Arial", sans-serif;

// @media
$media-dt: 1023px;
$media-tb: 767px;
$media-m: 320px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

