// color
$w: white;
$b: black;
$header-cr: #303030;
$benefits-title-cr: #6dad45;

// bg

// fonts
$Poppins: "Poppins", "Arial", sans-serif;

// @media
$media-dt: 1023px;
$media-tb: 767px;
$media-m: 320px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

